.contact{
    display: flex;
    border: 1px solid rgb(233, 234, 240);
    align-items: center;
    height: 44px;
    position: relative;
}

.contact:hover{
    background-color: rgb(250,251,255);
}

.contact__checkbox{
    margin-left: 12px;
    margin-right: 12px;
}

.contact__name{
    display: flex;
    width: 20%; 
    align-items: center;
    color: rgb(68, 107, 222);
    font-weight: 600;
}

.contact__initials{
    height: 25px;
    width: 25px;
    background-color: rgb(232,224,252);
    color: black;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 5px;
    justify-content: center;
    font-size: 12px;
} 

.contact__value{
    width: 15%; 
}

.contact__location{
    width: 15%; 
}

.contact__deals{
    width: 10%; 
}

.contact__tags{
    width: 26%; 
}

.contact__email-button{
    position: absolute;
    right: 12px;
    display: flex;
    border: 1px solid rgb(207, 211, 223);
    border-radius: 5px;
    align-items: center;
    height: 30px;
}

.contact__email{
    border-right: 1px solid rgb(207, 211, 223);
    display: flex; 
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    font-weight: 500;
}

.contact__down-arrow{
    display: flex; 
}