.contact-categories{
    border: 1px solid rgb(233, 234, 240);
    display: flex; 
    align-items: center;
    color: rgb(54, 58, 73);
    font-weight: 600;
    height: 28px;
    font-size: 16px;
}

.contact-categories__checkbox{
    margin-left: 12px;
    margin-right: 12px;
}

.contact-categories__contact-title{
    /* border: 1px solid white; */
    width: 20%; 
}

.contact-categories__value-title{
    /* border: 1px solid white; */
    width: 15%; 
    display: flex;
    align-items: center;
}

.contact-categories__location-title{
    /* border: 1px solid white; */
    width: 15%; 
}

.contact-categories__deals-title{
    /* border: 1px solid white; */
    width: 10%; 
}

.contact-categories__tags-title{
    /* border: 1px solid black; */
    width: 32%; 
}